
@{
    ViewData["Title"] = "Index";
}



    <div class="panel-header panel-header-sm">

        
            <div class="header text-center">
                <h2 class="title">
                    Reports
                </h2>
            </div>
        

    </div>
<div class="main-container">
    <div class="card">
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNWJlNzVhOTItZWM3OS00MjA2LWJkNjgtNGJmMGU0ZTAyMjI5IiwidCI6IjlhZWUyNmQ4LTk3YzItNGZhZC04OTAwLTk2NzM1ZjZkYzczZiIsImMiOjEwfQ%3D%3D"
                width="1090" height="560"></iframe>
    </div>
</div>

@section Styles{
    <!-- CSS Files -->
    <link href="~/nowui/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/nowui/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
    
}

@section Scripts{
    <!--   Core JS Files   -->
    <script src="~/nowui/js/core/jquery.min.js"></script>
    <script src="~/nowui/js/core/popper.min.js"></script>
    <script src="~/nowui/js/core/bootstrap.min.js"></script>
    <script src="~/nowui/js/plugins/perfect-scrollbar.jquery.min.js"></script>
   
    <!-- Chart JS -->
    <script src="~/nowui/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/nowui/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center  -->
    <script src="~/nowui/js/now-ui-dashboard.js?v=1.0.1"></script>
    

}

