
@{ ViewData["Title"] = "Index"; }
@model nowui.Controllers.RoutesController

<div class="panel-header panel-header-sm">

    <div class="header text-center">
        <h2 class="title">
            Routes
        </h2>
    </div>

</div>

<div class="card">
    <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#banyule1" role="tab">Banyule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Mitchell</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Nillumbik</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Whittlesea</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Moreland" role="tab">Moreland</a>
        </li>
    </ul>
<div class="card-body">
    <!-- Tab panes -->
    <div class="tab-content text-center">
        <div class="tab-pane active" id="home1" role="tabpanel">
            <p>Welcome <b>Worker</b> -  To Start the shift, select the particular council you are wokring on to get the optimized route to start.</p>
        </div>
        <div class="tab-pane" id="banyule1" role="tabpanel">
            <div class="card">
                <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAGUsNyQYyJ2YpC_1Fl8V9tnQrmGeozxWQ&zoom=11&origin=-37.704335,145.105047&destination=-37.704335,145.105047&waypoints=-37.75633893492017,145.06586810661315|-37.756059013472495,145.06432315422057|-37.75588741486922,145.0642265946973|-37.756169285684344,145.06499907089233|-37.75623714542532,145.0668122441864|-37.70387405013964,145.10319352726447|-37.70402613859017,145.10371944023132|-37.703449625727885,145.1046419201325|-37.703245901147014,145.10420203785407|-37.70344962572791,145.10389090160834|-37.70550631342247,145.1025651541563|-37.70327136675024,145.1049852428864|-37.70396653318182,145.1046416866269|-37.704280791548186,145.1053394944763"
                        width="900" height="580"></iframe>
            </div>
        </div>

        <div class="tab-pane" id="profile1" role="tabpanel">
            <div class="card">
                <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAGUsNyQYyJ2YpC_1Fl8V9tnQrmGeozxWQ&zoom=11&origin=-37.202911,145.048997&destination=-37.202911,145.048997&waypoints=-37.413604912376734,144.98078307224182|-37.41371995384292,144.98069724155607|-37.41495557326822,144.9807160170193|-37.41475957982364,144.98074283910307|-37.41350691395121,144.98067310167687"
                        width="900" height="580"></iframe>
            </div>

        </div>
        <div class="tab-pane" id="messages1" role="tabpanel">
            <div class="card">
                <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAGUsNyQYyJ2YpC_1Fl8V9tnQrmGeozxWQ&zoom=11&origin=-37.688810,145.108594&destination=-37.688810,145.108594&waypoints=-37.73417523158372,145.1423948199432|-37.60314883767424,145.26920966216733|-37.66658265916695,145.18332532951047|-37.674548393552826,145.15885492874145|-37.62046129393944,145.2626865298431"
                        width="900" height="580"></iframe>
            </div>
        </div>
        <div class="tab-pane" id="settings1" role="tabpanel">
            <div class="card">
                <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAGUsNyQYyJ2YpC_1Fl8V9tnQrmGeozxWQ&zoom=11&origin=-37.645291,145.067697&destination=-37.645291,145.067687&waypoints=-37.66674550805022,144.9912409137863|-37.620938668885074,145.0245217632384|-37.612379962031895,145.13579658576657|-37.65147750912876,145.0891905219238|-37.67462632831719,145.066943581018|-37.67387826987182,145.01597158023526|-37.61238846096247,145.13570539066006|-37.679754430527964,145.0138338596504|-37.680013412449846,145.01373461791684|-37.67982313543841,145.01385730019524|-37.67386977797343,145.01598230907143|-37.6254679397726,145.00917952767463|-37.66665208813653,144.99131601563062|-37.629595454266095,145.07132094613365|-37.6167023186992,145.03027241936638|-37.66685591325244,145.02082031479426|-37.666892436718456,145.02087079337753|-37.68833084747936,145.06287735215142|-37.674626328317224,145.066943581018"
                        width="900" height="580"></iframe>
            </div>
            <div class="tab-pane" id="Moreland" role="tabpanel">

            </div>
        </div>
    </div>
</div>
            </div>



@*<div class="main-container">
        <div class="card">
            <iframe src="@ViewData["a"]"

                    width="970" height="560"></iframe>
        </div>
    </div>*@



@*<form method="post" asp-page="/Routes/Index" class="formTexts">

        <input type="radio" id="councils" name="council" value="banyule" asp-for="@Model.council" />
        <label for="banyule">Banyule</label>



        <input type="submit">
    </form>




    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0" style="border:0" src="@ViewData["a"]" allowfullscreen>
            </iframe>
        </div>
    </div>*@






@section Styles{
    <!-- CSS Files -->
    <link href="~/nowuikit/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/nowuikit/css/now-ui-kit.css?v=1.1.0" rel="stylesheet" />
    <link href="~/nowui/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/nowuikit/css/demo.css" rel="stylesheet" />

}

@section Scripts{
    <!--   Core JS Files   -->
    <script src="~/nowui/js/core/jquery.min.js"></script>
    <script src="~/nowui/js/core/popper.min.js"></script>
    <script src="~/nowui/js/core/bootstrap.min.js"></script>
    <script src="~/nowui/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/nowuikit/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script src="~/nowuikit/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/nowuikit/js/core/bootstrap.min.js" type="text/javascript"></script>




}

