<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href= "~/Homepage/Index">
                        Smart Trash
                    </a>
                </li>
                <li>
                    <a href="~/AboutUs/Index">
                        About Us
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>document.write(new Date().getFullYear())</script>, Designed and
            <a href="#" target="_blank"></a> Coded by
            <a href="#" target="_blank">Team O</a>.
        </div>
    </div>
</footer>