@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>


    <button><a href="~/Login/Index">Log-in !</a></button>
    <button><a href="~/Homepage/Index"> Home !</a></button>

</header>